<FOFE-layer> input 2 output 512 vocabulary 80000 projection 256 momentum 0 weight-decay 0 forgetting-factor 0.7
<ReLU-layer> input 512 output 640 momentum 0 weight-decay 0
<ReLU-layer> input 640 output 640 momentum 0 weight-decay 0 order 20
<NCE-layer> input 640 output 80000 momentum 0 weight-decay 0 lnZ 11