<projection-layer> input 2 output 256 vocabulary 10001 projection 128 momentum 0.9 weight-decay 0.00004 forgetting-factor 0.7
<sFSMN-layer> input 256 output 512 momentum 0.9 weight-decay 0.00004 order 20
<ReLU-layer> input 512 output 512 momentum 0.9 weight-decay 0.00004
<softmax-layer> input 512 output 10001 momentum 0.9 weight-decay 0.00004 lnZ 11
